@media (max-width: 392px) {
    .prio-btn {
        padding: 8px 8px;
        width: 88px;
        gap: 4px;
    }

    .add-task-succes {
        margin: 0 -34% !important;
    }

}

@media (max-width: 1023px) {
    .add-task-action-btn {
        display: none;
    }

    .add-task-succes {
        margin: 0 -15%;
    }

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 1024px) {

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    form {
        display: flex;

    }

    .max-content-add-task {
        display: flex;
        padding-right: 16px;
    }


    .prio-btn {
        width: 116px;
        padding: 12px 16px;
        margin-top: 12px;
    }

    .add-task-form {
        gap: 60px;
        padding: 0 40px;
    }

    .task-details {
        flex: 1;
        padding-right: 20px;
        border-right: 1px solid var(--medium-grey);
    }

    .task-settings {
        flex: 1;
        padding: 0 20px;
    }

    .subtasks-container {
        position: absolute;
    }

    .submit-row {
        padding: 16px;
        background-color: var(--light-grey);
        margin: 0;
    }
}