@media (max-width: 392px) {
    .task-overlay {
        padding: 33px 25px;
        max-height: 700px;
        scale: 0.9;
    }
}

@media (max-width: 428px) {
    .task-overlay-title {
        font-size: 51px;
    }
}

@media (max-width: 600px) {
    .task-overlay {
        scale: 0.9;
    }
}

@media (max-width: 1024px) {
    .max-content-board {
        overflow-y: auto;
    }

    .desktop-section-search-add {
        display: none;
    }

    .overlay-task {
        padding: 24px;
        font-size: 16px;
    }

    .task-details-container {
        margin-top: 8px;
        gap: 8px;
    }

    .assigned-to-container ul,
    .subtask ul {
        min-height: 72px;
        max-height: 112px;
    }
}


@media (min-width: 1024px) {
    .max-content-board {
        padding: 16px;
    }

    .drag-drop-icon {
        display: none;
    }

    .mobile-section-search-add {
        display: none;
    }

    .task-container {
        flex-direction: column;
        padding: 8px 0;
    }

    .board-section {
        height: 100%;
        width: 25%;
        padding: 0 8px 60px;
    }

    .task-content {
        margin-top: 16px;
        flex-direction: row;
        height: 85%;
        gap: 8px;
    }

    .no-task {
        max-width: 240px;
    }

    .board-head-desktop {
        display: flex;
    }

    .board-head-mobile {
        display: none;
    }

    .add-task-headline {
        top: -140px;
        left: 47px;
    }
}

@media (min-width: 1440px) {
    .task-wrapper {
        min-width: 220px;
    }

    .task-content {
        gap: 35px;
    }
}