@media (max-width: 392px) {
    .task-overlay {
        padding: 33px 25px;
        max-height: 700px;
        scale: 0.9;
    }
}

@media (max-width: 428px) {
    .task-overlay-title {
        font-size: 51px;
    }
}

@media (max-width: 600px) {
    .task-overlay {
        scale: 0.9;
    }
}

@media (max-width: 1024px) {
    .max-content-board {
        overflow-y: auto;
    }

    .board-main-content {
        margin-left: 0;
    }

    .desktop-section-search-add {
        display: none;
    }

    .overlay-task {
        padding: 24px;
        font-size: 16px;
    }

    .task-details-container {
        margin-top: 8px;
        gap: 8px;
    }

    .assigned-to-container ul,
    .subtask ul {
        min-height: 72px;
        max-height: 112px;
    }

    .task-container {
        padding: 16px 5px;
    }

    .board-main-content { 
        padding: 0 5px;
    }

    .board-section {
        padding: 0;
    }

}


@media (min-width: 1024px) {

    .drag-drop-icon {
        display: none;
    }

    .board-main-content {
        height: 100vh;
    }

    .mobile-section-search-add {
        display: none;
    }

    .task-container {
        flex-direction: column;
        overflow-x: unset;
        overflow-y: auto;
    }

    .board-section {
        min-width: 240px;
        height: 100%;
        padding: 0;
    }

    .task-content {
        flex-direction: row;
        height: 85%;
    }

    .task-container {
        height: 100%;
    }

    .board-head-desktop {
        display: flex;
    }

    .board-head-mobile {
        display: none;
    }

    .add-task-headline {
        top: -140px;
        left: 47px;
    }
}



@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .task-content {
        gap: 0;
    }

    .board-section {
        width: 100%;
        min-width: 215px;
        padding: 5px;
    }

    .task {
        width: 100%;
        min-width: unset;
    }

    .subtitle {
        font-size: 14px;
    }

    .task-category {
        scale: 0.9;
    }

    .task-wrapper{
        max-width: 100%;
    }

    .task-container {
        height: 100%;
        padding: 0 8px;
    }

    .board-section{
        padding: 0;
    }

    .board-main-content {
        padding: 0;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1230px) {
    .task-content {
        gap: 10px;
    }
}

@media (min-width: 1440px) {
    .board-main-content {
        margin-left: 232px;
    }

    .board-section {
        flex: 1;
    }

    .task-wrapper {
        min-width: 220px;
    }

    .task-content {
        gap: 35px;
    }
}