@media (max-width: 1023px) {

    .add-new-contact-desktop-sticky,
    .edit-details-btns,
    .add-cancel-btn {
        display: none;
    }


}

@media (min-width: 1024px) {
    .change-color {
        bottom: -24px;
    }

    .name-detail {
        font-size: 47px;
    }

    .name-initals {
        width: 120px;
        height: 120px;
    }

    .contact-content {
        display: flex;
    }

    .contact-name-details {
        gap: 36px;
    }

    .contact-list:hover {
        background-color: var(--medium-grey);
        color: black;
        scale: 1.05;
    }


    .contacts-details-desktop-container {
        display: flex;
        flex-direction: column;
        padding: 24px;
        flex: 1.5;
    }


    .contacts-mobile-container {
        box-shadow: var(--box-shadow);
        flex: 1;
    }

    .add-contact-mobile-btn {
        display: none;
    }

    .edit-overlay-form {
        flex-direction: row;
        width: 1050px;
        height: initial;
        padding: 0;
    }

    .edit-initals-container {
        bottom: unset;
        right: -130px;
    }

    .add-overlay-buttons {
        position: absolute;
        right: 96px;
        bottom: 105px;
        scale: 0.9;
        height: 66px;
        width: 214px;
        border: none;
    }

    .submit-btn {
        position: absolute;
        right: 80px;
        bottom: 108px;
        height: 60px;
        width: 214px;
    }

    .overlay-header {
        width: 420px;
        height: 594px;
    }

    .edit-form-inputs {
        padding: 0;
        margin-left: 170px;
    }

    .hide-overlay {
        transform: translateX(100vw);
    }

    .close-edit path {
        fill: black;
    }

    .edit-action-btns {
        position: absolute;
        right: 255px;
        bottom: 114px;
    }
}