@media (max-width: 427px) {
    h1 {
        font-size: 42px;
    }

    .svg-img {
        width: 148px;
        height: 190px;
    }
}

@media (max-width:1023px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 728px) {
    form {
        padding: 48px 116px;
        gap: 32px;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 48px;
    }

    .overlay {
        background-color: white;
    }

    .logo {
        width: 100px;
    }

    .animation-move-and-change-color {
        animation: moveLogo 1s ease-in-out forwards;
        filter: unset;
    }

    .mobile {
        display: none;
    }

    .btn-container {
        flex-direction: row;

    }

    .btn-primary {
        width: fit-content;
    }
}