main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-grey);
    overflow: hidden;
}

.max-content-board {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    padding: 0 8px;
}

.board-head-desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.search-box-desktop {
    position: relative;
    display: flex;
    border: solid 1px;
    width: 312px;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: white;
}

.search-task-input-desktop {
    flex: 1;
    border: none;
}

.search-task-input-desktop:focus {
    border: none;
}

.nummber-of-tasks {
    position: absolute;
    bottom: -25px;
}

.add-task-btn {
    color: white;
    font-size: 21px;
    font-weight: 700;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
    background-color: var(--darke-blue);
    border: unset;
}

.board-head-mobile {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline-addTask-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 0;
}

.add-task-mobile-btn {
    width: 40px;
    height: 40px;
    background-color: var(--darke-blue);
    padding: 10px;
    border-radius: 10px;
}

.search-box-mobile {
    position: relative;
    display: flex;
    border: solid 1px;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: white;
}

.search-task-input-mobile {
    flex: 1;
    border: none;
}

.search-task-input-mobile:focus {
    border: none;
}

.task-content {
    display: flex;
    flex-direction: column;
    height: min-content;
    overflow-y: auto;
    gap: 30px;
    padding: 8px 0 16px;
}

.board-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
    transition: all ease-in-out 125ms;
    height: min-content;
}

.task-container {
    display: flex;
    height: 100%;
    gap: 16px;
    align-items: center;
    transition: all ease-in-out 125ms;
    overflow-x: auto;
    margin-top: 16px;
    animation-name: task;
    animation-duration: 800ms;
    animation-iteration-count: 1;
}

@keyframes task {
    from {
        scale: 0.1;
    }

    to {
        scale: 1;
    }
}

.board-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    text-wrap: nowrap;
}

.add-task-icon-btn {
    height: 30px;
    width: 30px;
    border: solid 2px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.add-task-icon-btn:hover {
    scale: 1.1;
}

.no-task {
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    padding: 8px;
    background-color: var(--medium-grey);
    color: var(--dark-grey);
    border: 2px dotted var(--dark-grey);
    border-radius: 8px;
}

.task-category {
    color: var(--light-grey);
    padding: 4px 16px;
    width: min-content;
    text-wrap: nowrap;
    border-radius: 8px;
}

.drag-drop-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15px;
    right: 15px;
}

.drag-drop-icon {
    align-self: flex-end;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: solid #d1d1d1 2px;
    background-color: white;
}

.drag-drop-list {
    background-color: lightblue;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 1;
    transform: translateX(120px);
    transition: all ease-in-out 125ms;
}

.show-drop-list {
    transform: translateX(0px);
}

.drag-drop-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}

.drag-drop-list li:hover {
    background-color: lightgray;
    border-radius: 10px;
}


.task-description {
    color: var(--dark-grey);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.task-amount-container {
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: var(--medium-grey);
    border-radius: 8px;
}

.progress {
    background-color: var(--light-blue);
    height: 8px;
    border-radius: 8px;
}

.task-amount {
    text-wrap: nowrap;
    margin-left: 16px;
}

.task-footer {
    position: relative;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.contatcs-container {
    position: relative;
    display: flex;
    width: 100px;
    align-items: center;
}

.contact {
    font-size: 12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid var(--white);
    color: var(--white);
}

.c0 {
    position: absolute;
    left: 0;
}

.c1 {
    position: absolute;
    left: 26px;
}

.c2 {
    position: absolute;
    left: 52px;
}

.c3 {
    position: absolute;
    left: 78px;
}

.user-story {
    background-color: var(--story);
}

.technical-task {
    background-color: var(--technical);
}

.task-contact-length {
    font-size: 18px;
}

.drag-area-highlight {
    border: 2px dotted var(--dark-grey);
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.04);
    transition: all ease-in-out 100ms;
}

.task-wrapper {
    max-width: 240px;
    width: 100%;
    height: 220px;
    z-index: 1;
}

.task {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 16px;
    background-color: white;
    border-radius: 24px;
    gap: 8px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: grab;
    transition: all ease-in-out 100ms;
}

.task:hover {
    rotate: z 5deg;
    scale: 0.9;
}

.task:active {
    rotate: z 5deg;
}


.overlay-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    transition: all 125ms ease-in-out;
    transform: translateX(100%);
    z-index: 3;
}

.task-overlay-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.task-overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 870px;
    width: 525px;
    border-radius: 30px;
    background-color: white;
    padding: 48px 40px;
    box-sizing: border-box;
    gap: 10px;
    box-shadow: var(--box-shadow);
    transition: all ease-in-out 125ms;
}

.task-overlay-scroll-container {
    overflow-y: auto;
}

.task-overlay-category-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-overlay-category {
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px;
}

.task-overlay-close-icon {
    width: 24px;
    height: 24px;
    transition: all ease-in-out 125ms;
    cursor: pointer;
}

.task-overlay-close-icon:hover {
    scale: 1.1;
}

.task-overlay-title {
    width: 100%;
    font-size: 47px;
    word-break: break-word;
}

.task-overlay-description {
    font-size: 20px;
    word-break: break-word;
}

.task-overlay-prio-date-table {
    display: flex;
    font-size: 20px;
    gap: 24px;
}

.task-overlay-prio-date-table td {
    padding: 10px 10px 10px 0;
}

.task-overlay-assigned {
    font-size: 20px;
}

.task-overlay-assigned-to-list {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.assigned-to-contact {
    display: flex;
    padding: 7px 16px;
    align-items: center;
    gap: 10px;
}

.initials-circle {
    font-size: 14px;
    color: white;
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.task-overlay-subtasks-container {
    font-size: 20px;
}

.task-overlay-subtask {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: all ease-in-out 100ms;
}

.task-overlay-subtask:hover {
    background-color: lightgray;
}

.subtask-overlay {
    height: 200px;
    overflow: auto;
}

.task-overlay-edit-btns {
    display: flex;
    width: 159px;
    gap: 8px;
    align-self: flex-end;
}

.task-overlay-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
}

.task-overlay-btn:hover {
    scale: 1.1;
}

.overlay-edit-task {
    position: relative;
    text-align: start;
    padding: 34px;
    width: 100%;
    max-width: 424px;
    height: min-content;
    border-radius: 16px;
    background-color: var(--white);
    max-height: 80%;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

.submit-btn {
    margin-top: 16px;
}

.edit-form {
    overflow-y: auto;
    margin: 0;
}

.add-task-overlay-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(100vw);
    z-index: 1;
    padding: 30px;
}

.add-task-overlay {
    flex-direction: column;
    padding: 48px;
    border-radius: 36px;
    background-color: white;
    display: flex;
    position: relative;
    box-shadow: var(--box-shadow);
}

.close-icon {
    position: absolute;
    right: 48px;
}

.submit-row {
    background-color: white;
}

.edit-title-input {
    font-size: 20px;
    width: 100%;
    padding: 0 20px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px var(--medium-grey);
}

.edit-textarea {
    font-size: 18px;
    height: 150px;
    padding: 0 20px;
    width: 100%;
    border-radius: 8px;
    border: solid 1px var(--medium-grey);
    resize: none;
}

.edit-date-input {
    font-size: 18px;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    border-radius: 10px;
    border: solid 1px #d1d1d1;
}

.dropdown-options-in-edit {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}