body {
    background-color: var(--light-grey);
    padding: 16px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 78px;
}

.logo {
    width: 64px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    gap: 16px;
    width: 100%;
    max-width: 720px;
    background-color: white;
    border: 2px solid var(--light-grey);
    border-radius: 24px;
    padding: 32px;
    margin: 16px 0;
    white-space: nowrap;
    box-shadow: var(--box-shadow);
}

.line {
    width: 50%;
    background-color: var(--light-blue);
    height: 2px;
    margin-top: 12px;
}

.input-container {
    position: relative;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}

.input-container img {
    position: absolute;
    right: 16px;
    top: 9px
}

input:not([type="checkbox"]) {
    width: 100%;
    border: unset;
    outline: 1px solid var(--dark-grey);
    border-radius: 8px;
    padding: 12px 24px;
}

.myCheckbox {
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

footer {
    justify-content: center;
    gap: 24px
}

button {
    display: block;
    padding: 16px 36px;
    width: 180px;
    outline: none;
    border: none;
    transition: all 0.125s ease-in-out;
    border-radius: 8px;
}


.signUp-btn {
    width: fit-content;
    padding: 16px;
}


.red-border {
    outline: 1px solid var(--red) !important;
}

.error-message {
    color: var(--red);
    font-size: 12px;
    display: none;
}

.shake {
    animation: shake 0.3s linear forwards;
}

a,
a:visited {
    color: var(--dark-grey);
}

.overlay {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--darke-blue);
    overflow: hidden;
    animation: fadeOutOverlay 1s ease-in-out forwards 0.5s;
    pointer-events: none;

}

.logo-container {
    z-index: 20;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.125 ease-in-out;
    animation: moveAndChangeColor 1.5s forwards ease-in-out;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(146deg) brightness(107%) contrast(104%);
}


.checkbox-input {
    display: none;
}

.checkbox-label {
    cursor: pointer;
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
    position: relative;
    background-color: white;
    transition: background-color 0.125s ease, border-color 0.125s ease;
}

.checkbox-input:checked+.checkbox-label {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.checkbox-input:checked+.checkbox-label::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 10px;
    height: 5px;
    border: solid white;
    border-width: 0px 0px 2px 2px;

}


@keyframes moveAndChangeColor {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.5);
    }

    30% {
        filter: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(81%) hue-rotate(281deg) brightness(99%) contrast(93%);
    }

    55% {
        filter: brightness(0) saturate(100%) invert(73%) sepia(0%) saturate(3%) hue-rotate(24deg) brightness(98%) contrast(94%)
    }

    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
        filter: initial;
    }
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(2.5);
    }

    100% {
        top: 0;
        left: 0;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes fadeOutOverlay {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}