body {
    background-color: var(--light-grey);
    padding: 16px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 78px;
}

.logo {
    width: 64px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    gap: 16px;
    width: 100%;
    max-width: 720px;
    background-color: white;
    border: 2px solid var(--light-grey);
    border-radius: 24px;
    padding: 32px;
    margin: 16px 0;
    white-space: nowrap;
    box-shadow: var(--box-shadow);
    position: relative;
}

.back-btn {
    position: absolute;
    top: 48px;
    left: 16px;
    padding: 4px;
    border-radius: 50%;
    transition: all ease-in-out 125ms;
}

.back-btn:hover {
    scale: 1.1;
    background-color: var(--medium-grey);


}

.line {
    width: 50%;
    background-color: var(--light-blue);
    height: 2px;
    margin-top: 12px;
}

.input-container {
    position: relative;
    align-items: baseline;
    gap: 8px;
    width: 100%;
}

.input-container img {
    position: absolute;
    right: 16px;
    top: 9px
}

input:not([type="checkbox"]) {
    width: 100%;
    border: unset;
    outline: 1px solid var(--dark-grey);
    border-radius: 8px;
    padding: 12px 24px;
}

.myCheckbox {
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

footer {
    justify-content: center;
    gap: 24px
}

button {
    display: block;
    padding: 16px 36px;
    width: 180px;
    outline: none;
    border: none;
    transition: all 0.125s ease-in-out;
    border-radius: 8px;
}


.signUp-btn {
    width: fit-content;
    padding: 16px;
}


.red-border {
    outline: 1px solid var(--red) !important;
}

.error-message {
    color: var(--red);
    font-size: 12px;
    display: none;
}

.shake {
    animation: shake 0.3s linear forwards;
}

a,
a:visited {
    color: var(--dark-grey);
}

.checkbox-input {
    display: none;
}

.checkbox-label {
    cursor: pointer;
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid var(--dark-grey);
    border-radius: 4px;
    position: relative;
    background-color: white;
    transition: background-color 0.125s ease, border-color 0.125s ease;
}

.checkbox-input:checked+.checkbox-label {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.checkbox-input:checked+.checkbox-label::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 10px;
    height: 5px;
    border: solid white;
    border-width: 0px 0px 2px 2px;

}

.red-border {
    border: 1px solid var(--red);
}

.dialog {
    position: absolute;
    align-self: center;
    bottom: 0;
    height: 64px;
    transition: 100ms ease-in-out;
    transform: translateY(70px);
    background-color: var(--darke-blue);
    color: var(--white);
    padding: 16px;
    text-wrap: nowrap;
    border-radius: 12px;
}

.dialog-active {
    transform: translateY(-50vh);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.3s ease;
}

.link,
.link:visited {
    color: var(--light-blue);
}