.column {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.gap-8 {
    gap: 8px
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-sb {
    display: flex;
    justify-content: space-between;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.max-width {
    max-width: 1920px;
}

.btn-primary {
    background-color: var(--darke-blue);
    color: white;
}

.btn-primary:hover {
    background-color: var(--hover-darke-blue);
}

.btn-secundary {
    background-color: white;
    outline: 1px solid var(--dark-grey);
    color: var(--dark-grey);
}

.btn-secundary:hover {
    outline: 1px solid var(--light-blue);
    color: var(--light-blue);
}

.position-relative {
    position: relative;
}

.border-radius-s {
    border-radius: 8px;
}

.border-radius-m {
    border-radius: 16px;
}

.border-radius-l {
    border-radius: 24px;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.font-size-small {
    font-size: 14px;
}

.overflow-auto {
    overflow: auto;
}