.d-flex {
    display: flex;
}

.justify-sb {
    display: flex;
    justify-content: space-between;
}

.align-c {
    display: flex;
    align-items: center;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap-s {
    gap: 8px
}

.gap-sm {
    gap: 16px
}

.gap-m {
    gap: 24px
}

.gap-l {
    gap: 36px
}

.border-radius-s {
    border-radius: 8px;
}

.border-radius-m {
    border-radius: 16px;
}

.border-radius-l {
    border-radius: 24px;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.font-size-small {
    font-size: 14px;
}