main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--light-grey);
}

.content {
    justify-content: center;
    flex: 1;
    gap: 24px;
}

.content-container {
    gap: 64px;
}

.summary-headline-container {
    font-size: 20px;
}


.underline {
    margin-top: 8px;
    height: 4px;
    background-color: var(--light-blue);
    width: 90px;

}

.container-animation-1 {
    transition: all ease-in-out 125ms;
    animation-name: summary-1;
    animation-duration: 300ms;
}

.container-animation-2 {
    animation-name: summary-2;
    animation-duration: 300ms;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex: 1;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: var(--box-shadow);
    transition: all ease-in-out 125ms;
}

.box:hover {
    scale: 1.1;
    color: white;
    background-color: var(--darke-blue);
}

.box:active {
    scale: 0.9;
    color: white;
    background-color: var(--light-blue);
}

.box:hover circle {
    fill: white;
}

.box:hover path {
    fill: #2a3647;
}

.box:hover path {
    stroke: #2a3647;
}

.task-count {
    font-size: 47px;
    font-weight: 600;
}

.summary-icon {
    width: 40px;
}

.breakline {
    height: 68px;
    border: solid 2px var(--light-grey)
}

.summary-greeting-container {
    display: none;
    animation-name: summary-3;
    animation-duration: 800ms;
}

.greeting-time {
    font-size: 36px;
    font-weight: 500;
    transition: all ease-in-out 125ms;
}

.greeting-name {
    color: var(--light-blue);
    font-size: 50px;
    font-weight: 700;
    transition: all ease-in-out 125ms;
}

.mobile-greeting-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    pointer-events: none;
    animation: fadeOut 2.5s 1 forwards;

}

.summary-greeting-mobile-container {
    animation: greeting-mobile 2s 1 forwards;

}

@keyframes summary-1 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX();
    }
}

@keyframes summary-2 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX();
    }
}

@keyframes summary-3 {
    from {
        scale: 0.1;
    }

    to {
        scale: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes greeting-mobile {
    0% {
        scale: 0.6;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        scale: 1.1;
        opacity: 1;
    }
}